.btn-dark-theme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  display: flex;
  align-items: center;
  background-color: #000;
  border-radius: 50px;
  cursor: pointer;
  padding: 5px;
  position: relative;
  height: 13px;
  width: 37px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1.5px;
  left: 2.3px;
  height: 19px;
  width: 19px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #b6b5b0;
  font-size: 1rem;
  margin-left: 10px;
  align-items: center;
  margin-bottom: 0.1px;

}

.fa-sun {
  color: #eec616;
  font-size: 0.9rem;
  margin-top: 2px;
}


body[data-theme="dark"] nav {
  box-shadow: 0 0.1rem 0.4rem rgb(0, 0, 0);
}

body[data-theme="dark"],
body[data-theme="dark"] nav {
  background-color: #192127;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;

}

body[data-theme="dark"] nav a {
  color: #eeeeee !important;
}

body[data-theme="dark"] .linha-nav-nome {
  background: #ebebeb;
}

body[data-theme="dark"] p,
body[data-theme="dark"] h1,
body[data-theme="dark"] span,
body[data-theme="dark"] h2 {
  color: #eeeeee !important;
}

body[data-theme="dark"] .card-container {
  background-color: #242d35;
}

body[data-theme="dark"] .card-container h2,
body[data-theme="dark"] .card-container p {
  color: #d3d2d2 !important;
}

body[data-theme="dark"] .card-container,
body[data-theme="dark"] .card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

body[data-theme="dark"] .btn {
  color: white;
  border: solid 1px rgb(247, 246, 246);
}

body[data-theme="dark"] .btn::before {
  background-color: rgba(75, 75, 75, 0.486);
}

body[data-theme="dark"] .btn-projetos:hover {
  background-color: #5f65697c;
}

body[data-theme="dark"] footer {
  box-shadow: 0.4rem 0.1rem 0.4rem #a7a3a3;
  background: #252e35;
}

body[data-theme="dark"] .icones-rodape .fa-brands {
  color: #c7c7c7;
}

body[data-theme="dark"] .lista-footer a {
  color: #c7c7c7;
}

body[data-theme="dark"] footer p,
body[data-theme="dark"] footer p span {
  color: #797979 !important;
}

body[data-theme="dark"] .portfolio-form{
  background-color: #242d35;
  color: white;
}

body[data-theme="dark"] .portfolio-form button{
  background-color: rgb(114, 114, 114);
  color: rgb(255, 255, 255);
}

body[data-theme="dark"] .portfolio-form button:hover{
  background-color: rgb(155, 155, 155);
}