.container-pai {
    margin: 200px 0px 100px 0px;
    display: flex;
    justify-content: center;
  }
  
  .container {
    margin-left: 20px;
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #444040;
  }
  
  .container p {
    font-size: 1.15rem;
    margin-bottom: 0px;
  }
  
  .container h1 {
    font-size: 3rem;
    height: 50px;
    margin: 0px;
    font-weight: 500;
  }
  
  .botoes {
    margin-top: 20px;
  }
  
  .btn {
    color: #444040;
    display: inline-block;
    position: relative;
    font-size: 0.95rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #5a5454;
    border-radius: 4px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    width: 220px;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
  
  .btn::before {
    background: #dfdfdf;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 0%;
    height: 100%;
  }
  
  .btn:hover::before {
    width: 100%
  }
  
  .btn1 {
    margin-right: 30px;
  }
  
  .fa-brands {
    margin-left: 19px;
    margin-top: 20px;
    font-size: 2.6rem;
  }
  
  .fa-brands:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
  
  .icones .fa-linkedin {
    color: #0e76a8;
    margin-left: 6.4px;
  }
  
  .dark .fa-github {
    color: #ccc;
  }
  
  .icones .fa-github {
    color: black;
  }
  
  .icones .fa-whatsapp {
    color: #7dc639;
  }
  
  #imagem-estudante {
    height: 97%;
    width: 97%;
  }

  @media(max-height: 650px){
    .container-pai{
      margin: 150px 0px 100px 0px;
    }
  }

  @media(max-width: 1300px){
    .container{
      margin-left: 50px;
      width: 600px;
    }
  }
  